*{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
html {
    font-family:'Inter', sans-serif;
}
.mini-banner {
    align-items: center;
    background-color: var(--color-miniBanner);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 2.6rem;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.2rem; 
    padding: 0.8rem;
}
.mini-banner p {
    margin-left: 15rem;
}
.mini-banner ul li {    
    font-size: 2.6rem;
    font-weight: 400;
    list-style: none;
    line-height: 1.2rem;
    margin-right: 1rem;
}
.mini-banner a{
    color: white;
    text-decoration: none;  
}
.list {
    display: flex;
    flex-direction: row;
    margin-right: 8rem;
    padding: 0.4rem; 
}
.down-arrow {
    height: 0.5%rem;
    margin-left: 0.8rem;
    width: 1.2rem;
}
.icon-menu {
    display: none;
}

.nav-bar {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    list-style:none;
    text-decoration: none;
    
}
.nav-bar a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.patita-nav {
    background-image: url(../img/patita.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
}
.banner-principal {
    background-image: url(../img/desktopImg/bowl-and-pet-daities-on-green-background\ 1\ \(1\).png);
    height: 60rem;
}
.saludo{
    align-self:flex-end;
    padding: 0.6rem;
    margin-top: 4rem;
    margin-right: 1rem;
    width: 28%;
} 
.saludo p {
    font-size: 2.4rem;    
}
.aviso-descuento {
    font-size: 2.2rem;
    margin-right: 7rem;
}
.boton-banner{
    margin-top: 0.6rem;
}
.boton-banner button {
    height: 4.4rem;
    margin-right: 4rem;
    width: 14.8rem;
}
.boton-banner button:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    cursor: pointer;
}
.productos-destacados {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8rem;
    width: 18%;
}
.cards-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nombre-producto {
    font-size: 2rem;
    line-height: 1.8rem;
}
.precio {
    font-size: 2rem;
    line-height: 1.8rem;
}
.form-contacto p {
    font-size: 2rem;
    margin-top: 4rem;
}
.formulario {
    width: 22%;
}
.formulario input::placeholder{
    color: white;
}
.subscription-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.form-control {
    margin-top: 3rem;
    margin-right: 1rem;
    width: 16%;
}
.reset,.send  {
    color: white;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    height: 2.5rem;
    line-height: 1.9rem;
}
.reset:hover ,.send:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    cursor: pointer;
}
.suscrip-top{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 30%;

}
.suscrip-top p{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.suscrip-bottom {
    display: flex;
    justify-content: end;
    width: 80%;
}

.suscrip-input {
    width: 24%;
}  
.send-suscrip {
    font-size: 0.9rem;
    width: 9%;
}
.send-suscrip:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    cursor: pointer;
}
.info-container{
    flex-direction: row-reverse;
}
.info-top {
   margin-bottom: 1rem;
    margin-left: 5rem; 
    margin-top: 2rem; 
}
.logo-footer {
    height: 2rem;
    width: 15rem ;
    margin-right: 5rem; 
}